.menu-contenedor{
    height: 98vh;
    display: grid;
    grid-gap: 0.1%;
    grid-template-columns: 15% auto auto;
    grid-template-rows: 10% auto auto;
}
/*
#034285

*/
.lateral-izquierdo{
    background-color:#313042;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
.superior{
    background-color: #e9e9e9;
    grid-column-start: 2;
    grid-column-end: 4;
}
.area-trabajo{
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
.area-trabajo2{
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
/*
#034285
:#eeeeee
*/
#logo{
    background-image:url("../Imagenes/logitovalurq.png");
    background-size: 50% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 60%;
    height: 60px;
    margin:5%;
}
#menu-items{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-opcion{
  /* OPCIONES DEL MENU Y SUS PROPIEDADES*/
    width: 100%;
    min-height: 20px;
    /*background-color: #d9d9d9;*/
    color:#808080;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 4px;
    z-index: 3;
}
.menu-opcion:hover{
  /* AL PASAR EL MOUSE SOBRE LOS ITEMS DEL MENU */
  /* background-color:#b5b5b5;    */
    color:white;
     z-index: 4;
}
.desactivado{
    cursor:not-allowed;
    /*background-color: #b5b5b5;*/
}
.desactivado:hover{
    cursor:not-allowed;
    color:#808080;
    /*background-color: #b5b5b5;*/
}
.desactivado:hover .icono-opcion{
    background-color:#808080;
    /*background-color: #b5b5b5;*/
}
.menu-opcion:hover .icono-opcion{
    /* background-color:#b5b5b5;*/
    background-color:white;
     z-index: 4;
}
/*
#499bea
#d9d9d9
*/

.icono-opcion{
    min-height: 20px;
    min-width: 20px;
    background-color: #808080;
}
.titulo-opcion{
    font-size: 10pt;
    font-family: Arial;
    margin-left: 15px;
}
.titulo-opcion-informes{
    font-size: 12pt;
    font-style: normal;
    font-family: Arial;
    margin-left: 25px;
}
.url{
    width: 100%;
    text-decoration: none;
    color:black;
}

#frame-trabajo{
    width: 100%;
    height:100%;
}
