@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

body {
    height: 100vh;
    width: 100vh;
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 800px;
}

.content{
    width: 100%;
    height: 100%;
    display: flex;
}

.lateral{
    max-width: 240px;
    min-width: 240px;
    height: 100%;
    background-color: #1A354D;
    padding-top: 20px;
    position: absolute;
    top: 100px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    z-index: 1;
    position: relative;
}

.lista {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0px;
  height: 30%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  width: 100%;
}
.lista * {
  box-sizing: border-box;
}
.lista li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0px;
}
.lista a {
  padding: 0.5em 0;
  color: #C5C2C2;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.lista a:before,
.lista a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.lista a:before {
  bottom: 0;
  display: inline-block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #2980b9;
}
.lista a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.lista a:hover:before,
.lista .current a:before {
  opacity: 1;
  width: 100%;
}

.lista a:hover:after,
.lista .current a:after {
  max-width: 100%;
}


.cabecera{
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0px 5px 10px black;
    z-index: 3;
    padding-left: 10px;
}

#titulo{
    color: #1A354D;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Raleway', Arial, sans-serif;
    margin-right: 50px;
    letter-spacing: 0.05em;
    margin: 0px auto;
}


.workArea{
    position: absolute;
    top: 100px;
    left: 240px;
    bottom: 0px;
    right: 0px;
    padding-right: 10px;
    padding-top: 10px;
    z-index: 2;
}

.workArea iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer{
    font-family: 'Raleway', Arial, sans-serif;
    color: #C5C2C2;
    align-self: center;
    position: absolute;
    bottom: 150px;
}

.dropdown{
    position: relative;
    right: 20px;
    height: 100%;
    max-width: 250px;
    min-width: 250px;
}

.btndrop{
    width: 100%;
    height: 100%;
}

.btndrop span{
    font-weight: bold;
}

.dropdown .btndrop {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #1A354D;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 14px 16px;
  box-sizing: border-box;
  background-color: inherit;
  font-family: 'Raleway', Arial, sans-serif;
  margin: 0;
}

.dropdown:hover .btndrop {
  background-color: #1A354D;
  color: white;
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100px;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 220px;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}